/* Colors */
/*Base styles */
body {
    margin: 0;
    padding: 0;
    background-color:turquoise;
}

/* Mobile first responsive layout */

header {
    background-color: rgb(223, 226, 28);
    color: rgb(122, 43, 226);
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.btnClickHere {
    border:2px solid#04AA6D;
    border-radius: 10px;
    padding:12px 28px;
    min-height:30px; 
    min-width: 120px;
    background-color: rgb(235, 190, 99);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(55, 55, 172);
    display:inline-block;
    position:absolute;  left: 640px; top: 175px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btnNext {
    border:2px solid#04AA6D;
    border-radius: 10px;
    padding:12px 28px;
    min-height:15px; 
    min-width: 80px;
    background-color: rgb(235, 190, 99);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(55, 55, 172);
    display:inline-block;
    position:absolute;  left: 10px; top: 266px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btnBegin {
    border:2px solid#04AA6D;
    border-radius: 10px;
    padding:12px 28px;
    min-height:20px; 
    min-width: 100px;
    background-color: rgb(235, 190, 99);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(55, 55, 172);
    display:inline-block;
    position:absolute;  left: 10px; top: 316px;
    margin: 4px 2px;
    cursor: pointer;
  }
#storyStart {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 22px;
color: #008CBA;
}

#scenario {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-style: italic;
    color: #008CBA;    
}

.btnNext2 {
    border:2px solid#04AA6D;
    border-radius: 10px;
    padding:12px 28px;
    min-height:15px; 
    min-width: 80px;
    background-color: rgb(235, 190, 99);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(55, 55, 172);
    display:inline-block;
    position:absolute;  left: 830px; top: 386px;
    margin: 4px 2px;
    cursor: pointer;
  }